.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: gray;
  }
  
  .red-block {
    transition: 0.5s;
    width: 100px;
    height: 100px;
    background-color: red;
    margin-right: 20px; /* для разделения блоков */
  }
  
  .blue-block {
    transition: 0.5s;
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-right: 20px;
  }
  